[submodule "sdl2"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "dear imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
